<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="col-12">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <div class="col-12 col-md-8 col-lg-8 pr-lg-3">
                <div class="h-100">
                    <div class="wrapthumbnail u-height300">
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            {% if site.lazyimages == "enabled" %}
                            <img class="featured-box-img-cover lazyimg"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}">
                            {% else %}
                            <img class="featured-box-img-cover" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                                {% if post.rating %}
                                <div class="mb-2 mt-2 font-weight-normal">
                                {% include star_rating_postbox.html %}
                                </div>
                                {% endif %}
                            </h2>

                            <h4 class="card-text">{{ post.description | strip_html | truncatewords:25 }}</h4>
                        </div>
                        <div class="card-footer b-0 bg-white">
                            <div class="wrapfooter">
                                {% if post.author %}
                                <span class="meta-footer-thumb">
                                {% if author.avatar %}
                                <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                                {% else %}
                                <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                                {% endif %}
                                </span>
                                <span class="author-meta">
                                <span class="post-name"><a href="{{ post.categories[0] }}">{{ post.categories[0] }}</a></span><br/>
                                {% endif %}
                                <span class="post-date">{{ post.date | date_to_string }}</span>
                                </span>
                                <span class="post-read-more u-textColorNormal"><a href="{{ site.baseurl }}{{ post.url }}" title="Read Story"><svg class="svgIcon-use" width="15" height="15" viewbox="0 0 15 15"><path d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z" fill-rule="evenodd"></path></svg></a></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->