<div class="my-col js-aboutCollectionBox">
    <header class="heading heading--page u-marginTop0 u-xs-marginTop20 u-sm-marginBottom5">
        <div class="u-clearfix">
            <div class="heading-content u-floatLeft">
                <div class="heading-prefix">Tagged in</div>
                <h1 class="heading-title heading-title--bold u-marginTop0 u-xs-marginTop20 u-sm-marginBottom5">{{ content | upcase }}</h1>
            </div>
        </div>
    </header>
    <div class="u-sm-hide">
        <div class="u-tableCell u-verticalAlignMiddle u-textColorNormal u-fontSize16 u-breakWord">{{ site.title }}
        </div>
        <div class="u-fontSize14 u-lineHeightBaseSans u-textColorDark u-paddingTop15 u-paddingBottom15">
            <div class="u-marginBottom15 u-breakWord">여기는 간단한 소개글 적을 것 이다. </div>
            <a class=" link--darken u-accentColor--textDarken link--accent u-accentColor--textNormal"
                href="https://forge.medium.com/about">More information</a>
        </div>
        
        <div class="u-fontSize14 u-lineHeightBaseSans u-textColorDark u-paddingBottom15">
            <header class="heading heading--allCaps heading--light u-marginBottom10">
                <div class="u-clearfix">
                    <div class="heading-content u-floatLeft">
                        <span class="heading-title u-marginBottom10">More, with confidence</span>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div> 