---
layout: default-project
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="post-container post-md-container">
    <div class="row">
        <!-- Post Share -->
        <div class="col-md-2 pl-0 mpr">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            </div>

            <!-- Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}"></time></span>           
            </small>
            </p>
            
            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags mb-4">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Tags -->

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->
