---
layout: default-project
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="post-container post-md-container">
    <div class="row">
        <!-- Post Share -->
        <div class="col-md-2 pl-0 mpr">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                <!-- Post Title -->
                <div><h1 class="posttitle">{{ page.title }}</h1></div>
                <h4 class="postdescription">{{ page.description }}</h4>

                <div class="post-top-meta">
                    <span class="meta-footer-thumb">
                        {% if author.avatar %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                        {% else %}
                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                        {% endif %}
                    </span>
                    <span class="author-meta">
                        <div>
                        <a target="_blank" class="link-dark" href="{{ author.web }}">{{ page.categories[0] }}</a>
                        </div>

                        <div>
                        <span class="author-description">{{ page.date | date_to_string }}</span>
                        <span class="post-main u-textColorNormal"><a href="{{ site.baseurl }}{{ post.url }}" title="Read Story"><svg class="svgIcon-use" width="15" height="15" viewbox="0 0 15 15"><path d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 0 0 .26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 0 0-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 0 0-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 0 0-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 0 0 .26-.19l1.2-3.52z" fill-rule="evenodd"></path></svg></a></span>
                        </div>
                    </span>
                </div>
            </div>

            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- End Adsense -->

            <!-- Post Featured Image -->
            {% if page.image %}
            {% if page.postImgOn %}
            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}
            {% endif %}
            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            </div>

            <!-- Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}"></time></span>           
            </small>
            </p>
            
            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags mb-4">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Tags -->

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->


<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}